<div class="index">

<h2>00:00:00</h2>


{{#if posts.length}}
  {{#each posts}}
  <div class="post">
    <div class="post-info">
      <span>ID {{id}}</span>
      <p>{{post}}</p>
      <div class="dates">
        <span>{{date}}</span>
      </div>
    </div>
    <div class="post-status">

    </div>
  </div>  
  {{/each}}
{{else}}
<p>No todos!</p>
{{/if}}


</div>

<script>
  setInterval(() => {
    $("h2").text(new Date().toJSON().slice(0,19))
  }, 1000);

  
</script>


{{!-- 
{{#if todos.length}}
<ul>
  {{#each todos}}
    
    <li class="todo">
      <form action="/complete" method="POST">
      <label>
        {{#if completed}}
          <input type="checkbox" checked name="completed"> >
          <span class="completed">{{title}}</span>

        {{else}}
          <input type="checkbox" name="completed">
          <span>{{title}}</span>

        {{/if}}

        <input type="hidden" value={{_id}} name="id">
        <button type="submit" class="btn btn-small">Save</button>
      </label>
      </form>
    </li>
  {{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}} --}}