<div class="post-list">




  {{#if posts.length}}
  {{#each posts}}
  <div class="post">
    <div class="post-info">
      <span> ID {{id}}</span>
        <a class ="post-delete" href='/post-list/delete/{{_id}}'>
          <img id="delete-post" src="close.svg" alt="">
          <div class="invisible-id">{{_id}}</div>
        </a>
        
    </div>
    <p>{{post}}</p>
    <div class="dates">
      <span>{{date}}</span>
    </div>


  </div>
  {{/each}}
  {{else}}
  <p>Нет постов</p>
  {{/if}}


</div>




{{!-- 
{{#if todos.length}}
<ul>
  {{#each todos}}
    
    <li class="todo">
      <form action="/complete" method="POST">
      <label>
        {{#if completed}}
          <input type="checkbox" checked name="completed"> >
          <span class="completed">{{title}}</span>

        {{else}}
          <input type="checkbox" name="completed">
          <span>{{title}}</span>

        {{/if}}

        <input type="hidden" value={{_id}} name="id">
        <button type="submit" class="btn btn-small">Save</button>
      </label>
      </form>
    </li>
  {{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}} --}}



<script>

  $(function () {

    $('#delete-post').on("click", () => {
      $("#dropdown-show-id").toggleClass("show");
    });


    
  });

</script>