<div class="user-list">

{{#if users.length}}
  {{#each users}}
  <div class="user">
    <div class="user-info">
      <span> ID {{user_id}}</span>
        <a class ="user-delete" href='/user-list/delete/{{_id}}'>
          <img id="delete-user" src="close.svg" alt="">
          <div class="invisible-id">{{_id}}</div>
        </a>
        
    </div>
    <p>{{user_name}}</p>
    <div class="dates">
      <span>{{date}}</span>
    </div>


  </div>
  {{/each}}
{{else}}
<p>Нет пользователей</p>
{{/if}}


</div>

<script>
  setInterval(() => {
    $("h2").text(new Date().toJSON().slice(0,19))
  }, 1000);

  
</script>


{{!-- 
{{#if todos.length}}
<ul>
  {{#each todos}}
    
    <li class="todo">
      <form action="/complete" method="POST">
      <label>
        {{#if completed}}
          <input type="checkbox" checked name="completed"> >
          <span class="completed">{{title}}</span>

        {{else}}
          <input type="checkbox" name="completed">
          <span>{{title}}</span>

        {{/if}}

        <input type="hidden" value={{_id}} name="id">
        <button type="submit" class="btn btn-small">Save</button>
      </label>
      </form>
    </li>
  {{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}} --}}